[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "==3.0.43"
pygments = "==2.17.2"
wcwidth = "==0.2.13"
"personal assistant" = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
